@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/typography';
@import 'partials/buttons';

@import 'partials/header';
@import 'partials/footer';

@import 'partials/hero';
@import 'partials/how-it-works';
@import 'partials/about-us';
@import 'partials/leads-form';

@import 'partials/error';

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {

    color: $c-black;
    font-family: $primary-font;
    @include font-smoothing;

    padding-top: 42px;
}

input {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

::selection {
    background: $c-primary;
    color: $c-secondary;
}

::-moz-selection {
    background: $c-primary;
    color: $c-secondary;
}

section {

    padding: 60px 24px;
}
