*::after,
::before {
    box-sizing: border-box;
    outline: 0
}

/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/public/src/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle
}

/* cyrillic-ext */

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Nunito Light'), local('Nunito-Light'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAnsSUbOvISTs.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Nunito Light'), local('Nunito-Light'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAnsSUZevISTs.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Nunito Light'), local('Nunito-Light'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAnsSUbuvISTs.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Nunito Light'), local('Nunito-Light'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAnsSUb-vISTs.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Nunito Light'), local('Nunito-Light'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAnsSUYevI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #204161
        /* font-size: 18px */
}

amp-img {
    vertical-align: middle
    /* vertical-align: -webkit-baseline-middle */
}

a {
    color: #3d7dd8;
    text-decoration: none
}

/* STANDAR */

.m0 {
    margin: 0
}

.m10 {
    margin: 10px
}

.container {
    margin: 0 auto;
    max-width: 60vw
}

@media only screen and (max-width:600px) {
    .container {
        max-width: 90vw
    }
}

.btnPrimary {
    width: 312px;
    border: 1px solid #e64356;
    background: #F44B53;
    border-radius: 38px;
    color: #fff;
    padding: 10px;
    text-align: center
}

.btnPrimary,
.btnSecondary,
.btnPrimaryDonate {
    cursor: pointer
}

.btnPrimaryDonate {
    width: 180px;
    border: 1px solid #e64356;
    background: #F44B53;
    border-radius: 38px;
    color: #fff;
    padding: 10px;
    text-align: center
}

.btnSecondary {
    width: 312px;
    border: 1px solid #237ed5;
    background: #237ed5;
    border-radius: 38px;
    color: #fff;
    padding: 10px;
    text-align: center
}

.buttonTablet {
    display: block;
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 1
}

@media only screen and  (max-width: 600px) {
    .buttonTablet {
        display: none
    }
}

/* .buttonTablet button {
width: 180px
} */

/* strong {
color: #204161
} */

/* STANDAR */

/* FOLD */

#logo {
    position: fixed;
    /* position: -webkit-sticky; */
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(221, 214, 214, 0.14), 0 3px 1px -2px rgba(255, 255, 255, 0.2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

@media only screen and (max-width:600px) {
    #logo {
        padding: 0;
        background-color: transparent;
        box-shadow: none
    }
}

#logo a amp-img{
    margin: 10px 32px
}

@media only screen and (max-width:900px){
    #logo a amp-img{
        margin: 12px 24px
    }

}

.imageFold {
    width: 100%;
    height: 70vh;
    background-image: url(/public/src/img/foldImagePcOptim.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

/* @media only screen and(max-width:1200px) {}  */

@media only screen and (max-width:900px){
    .imageFold{
        height: 60vh;
        background-image: url(/public/src/img/foldTablet.png)
    }
}

@media only screen and (max-width:768px){
    .imageFold{
        height: 50vh;
        background-image: url(/public/src/img/foldTablet.png)
    }
}

@media only screen and (max-width:600px){
    .imageFold{
        height: 50vh;
        background-image: url(/public/src/img/foldMobile.png)
    }
}

/* @media only screen and(max-width:480px){} */

/* @media only screen and(max-width:399px){} */

/* @media only screen and(max-width:359px){} */


.callToFold {
    width: 100%;
    height: 30vh
}

@media only screen and (max-width:900px){
    .callToFold {
        height: 40vh;
    }
}

@media only screen and (max-width:768px){
    .callToFold {
        height: 50vh;
    }
}

@media only screen and (max-width:600px){
    .callToFold {
        height: 50vh;
    }
}
/* @media only screen and (max-width:480px){} */
/* @media only screen and (max-width:399px){} */
/* @media only screen and (max-width:359px){}  */


.boxCallFold {
    margin: 0 auto;
    max-width: 600px;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

@media only screen and (max-width:630px) {
    .boxCallFold {
        max-width: 90%
    }
}




.call_to_h1_principal {
    margin: 10px 0;
    font-size: 32px
}

@media only screen and (max-width:700px) {
    .call_to_h1_principal {
        font-size: 28px
    }
}

@media only screen and (max-width:600px) {
    .call_to_h1_principal {
        font-size: 24px
    }
}

.buttonFoldDonate{
    margin: 10px 0 20px 0
}

.descr_fold {
    margin: 10px 0;
    text-align:center
}

/* FOLD */

/* HOW IT WORKS */

#howItWorks {
    background: #F3EFEA;
    padding: 20px 0
}

.containerHowItWorks {
    max-width: 600px;
    padding: 20px
        /* float: left */
}

.boxHowItWorks {
    margin: 0 auto;
    max-width: 500px
}

.gridHowItWorks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0;
    margin: 0 auto;
    max-width: 1050px
}

@media only screen and (max-width:1200px) {
    .gridHowItWorks {
        max-width: 900px
    }
}

@media only screen and (max-width:900px) {
    .gridHowItWorks{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap:40px 0;
        max-width: 300px
    }
}

/* @media only screen and (max-width:600px) {
    .gridHowItWorks {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 15px 0;
        max-width: 310px
    }
} */

.itemItWorks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px
}

.titleItWorks h4 {
    margin: 0
}

/* HOW IT WORKS */

/* WHY */

#why {
    padding: 20px 0
}

.containerWhy {
    max-width: 600px;
    padding: 20px
}

/* @media only screen and (max-width:1200px) {} */

.gridWhy {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0 10px;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    max-width: 1100px
}


@media only screen and (max-width:1200px) {
    .gridWhy {
        max-width:870px
    }
}

@media only screen and (max-width:900px){
    .gridWhy{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 40px 0;
        max-width: 540px
        }
}

@media only screen and (max-width:768px){
    .gridWhy{
        max-width: 540px
    }
}

@media only screen and (max-width:600px){
    .gridWhy{
        max-width: 360px
    }
}

@media only screen and (max-width:480px){
    .gridWhy{
        max-width: 360px
    }
}

@media only screen and (max-width:399px){
    .gridWhy{
        max-width: 340px
    }
}

@media only screen and (max-width:359px){
    .gridWhy{
        max-width: 290px
    }
}


.itemWhy {
    /* max-width: 360px;     */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

@media only screen and (max-width:1200px){
    .itemWhy {
        max-width:280px
    }
}

@media only screen and (max-width:900px){
    .itemWhy {
        max-width:540px
    }
}

@media only screen and (max-width:768px){
    .itemWhy{
        width: 540px
    }
}
@media only screen and (max-width:600px){
    .itemWhy{
        width: 360px
    }
}

@media only screen and (max-width:480px){
    .itemWhy{
        width: 360px
    }
}

@media only screen and (max-width:399px){
    .itemWhy{
        width:340px
    }
}
@media only screen and (max-width:359px){
    .itemWhy{
        width:290px
    }
}


/* --------- */

.bgItemWhy{
    width: 360px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

@media only screen and (max-width:1200px){
    .bgItemWhy{
        width: 280px
    }
}

@media only screen and (max-width:900px){
    .bgItemWhy{
        width: 540px
    }
}

@media only screen and (max-width:768px){
    .bgItemWhy{
        width: 540px
    }
}

@media only screen and (max-width:600px){
    .bgItemWhy{
        width: 360px
    }
}

@media only screen and (max-width:480px){
    .bgItemWhy{
        width: 360px
    }
}

@media only screen and (max-width:399px){
    .bgItemWhy{
        width:340px
    }
}
@media only screen and (max-width:359px){
    .bgItemWhy{
        width:290px
    }
}

.trust{
    background-image: url(/public/src/img/photo1.png)
}
.facility{
    background-image: url(/public/src/img/photo2.png)
}
.solidarity{
    background-image: url(/public/src/img/photo3.png)
}


.itemWhyTitle {
    margin: 5px 0
}

.itemWhy span p {
    margin: 0
}

/* .itemWhy span amp-img {
width: 220px;
height: 120px
} */

/* WHY */

/* HELP */

#help {
    background-color: #EECE66
}

/* @media only screen and (max-width:900px) {
#help {
height: 250px
}
} */

#bgHelp {
    background-image: url(/public/src/img/manosAyuda.png);
    background-size: cover;
    background-position: center;
    height: 450px
}

@media only screen and (max-width:600px) {
    #bgHelp {
        height: 360px
    }
}

.gridHelp {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: inherit
}

/* HELP */

/* ALLIES */

#allies {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.containerAllies {
    margin: 0 auto;
    max-width: 600px;
    /* padding: 10px */
}

@media only screen and (max-width:600px) {
    .containerAllies {
        max-width: 330px
    }
}

.gridAllies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0;
    margin: 0 auto;
    max-width: 200px
}

.gridAllies span {
    text-align: center
}

.titleHelp {
    padding: 10px;
    text-align: center;
    font-size: 20px
}

.boxHelp {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

/* ALLIES */

/* FOOTER */

footer {
    background-color: #F3EFEA;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

/* FOOTER */

/* MODAL */

#modalDonate {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1A1928C9;
    transition: .3s
}

.activeModalDonate {
    top: 0
}

.ContainerModal {
    background-color: #fff;
    max-width: 370px;
    border-radius: 20px;
    /* overflow: auto; */
    /* padding: 10px */
}

@media only screen and (max-width:600px) {
    .ContainerModal {
        max-width: 330px
    }
}

#navModal {
    padding: 10px;
    height: 50px
}

#closeModal {
    background-color: transparent;
    border: 0;
    padding: 5px;
    border-radius: 40px;
    color: #c1c1c1;
    cursor: pointer
}

#navModal amp-img {
    float: left
}

#navModal button {
    float: right
}

#foldModal {
    padding: 10px
}

#formModal {
    /* height: 210px; */
    padding: 10px
}
.succesForm{
 color: green;
 /* font-size: 18px   */
}
.errorForm{
    color: red;
    /* font-size: 18px */
}
.inputModal {
    margin-bottom: 10px;
    /* text-align: center */
}

.inputModal input {
    padding: 13px 10px;
    background-color: #F3EFEA;
    border: 1px solid #F3EFEA;
    border-radius: 30px;
    width: 94%
}

/* @media only screen and (max-width:900px) {
.inputModal input {
width: 290px
}
} */

/* #footerModal {
background-color: #204161;
color: #fff;
padding: 10px
} */

/* MODAL */




/* BOILERPLATE



    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            animation: -amp-start 8s steps(1, end) 0s 1 normal both
        }

        @-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-o-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }
    </style><noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>

*/
