footer {

    background-color: $c-pearl__light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 36px 24px 96px;

    @include MQ(M) { padding: 36px 24px }

    a {

        color: $c-blue__base;
        font-weight: 700;
        text-decoration: none;
    }

    .some {

        img { padding: 0 8px; }
    }

    .container {

        padding-top: 12px;
        text-align: center;

        p {
            font-size: 14px;
            padding: 0;
        }
    }
}
