.hero {

    padding: 0 0 84px;

    //@include MQ(M) { margin-top: 72px }

    .hero_img {

        background-image: url(../img/hero_s.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 360px;
        width: 100%;
        position: relative;

        a {

            background-color: rgba($c-black, 0.8);
            bottom: 0;
            color: white;
            font-size: 10px;
            font-weight: 400;
            padding: 6px 8px;
            position: absolute;
            right: 0;
            text-decoration: none;

            &:hover { text-decoration: underline; }
        }

        @include MQ(S) {

            background-image: url(../img/hero_m.jpg);
            height: 300px;
        }

        @include MQ(M) {

            margin-top: 60px;
            background-image: url(../img/hero_l.jpg);
            height: 360px;
        }

        @include MQ(L) { background-image: url(../img/hero_xl.jpg); }

        @include MQ(XL) {

            background-image: url(../img/hero_xxl.jpg);
            height: 480px;
        }

    }

    .hero_content {

        padding: 36px 24px 0;

        .btn {

            display: none;

            @include MQ(M) {

                display: flex;
                margin-top: 24px;
            }
        }

        @include MQ(M) {

            align-items: center;
            display: flex;
            flex-direction: column;

            .t-h1 {
                text-align: center;
                max-width: 720px;
            }

            p {
                text-align: center;
                max-width: 600px;
            }
        }

        @include MQ(L) {

            padding-top: 48px;
            p { padding-top: 36px }
        }
    }
}
