.hero {

    padding: 0;

    .intro {

        background-image: url(https://picsum.photos/480);
        padding: 132px 24px 36px;
        position: relative;

        &:before {

            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 0;
            background: linear-gradient(0deg, $c-black 0%, rgba($c-black, 0.25) 100%);
        }

        .t-h1 {

            color: $c-primary;
            position: relative;
            z-index: 1;
        }

        .t-h2 {

            color: $c-white;
            position: relative;
            z-index: 1;
        }
    }

    .lead-form-1 {

        background-color: $c-black;
        padding: 60px 24px;

        p { color: $c-white; }
    }
}
