.lead-form {

    background: $c-primary;
    color: $c-black;

    p { padding-top: 24px; }

    .mailchimp-form {

        padding-top: 12px;

        .form-container { position: relative; }

        .responses {

            position: absolute;
            bottom: -36px;

            .response {

                color: $c-black;
                a { color: $c-black; }
            }
        }

        .mc-field-group {

            display: flex;
            flex-direction: column;
            padding-top: 12px;

            label {

                color: $c-black;
                font-size: 12px;
                text-transform: uppercase;
            }

            input {


                border: none;
                border-radius: 4px;
                line-height: 24px;
                font-size: 16px;
                font-family: $primary-font;
                margin-top: 6px;
                padding: 6px 12px;
            }
        }

        @include MQ(M) {

            .form-container {

                display: flex;
                align-items: flex-start;

                .mc-field-group {

                    width: 240px;
                    margin-right: 16px;
                }
            }
        }

        .button {

            background: $c-black;
            color: $c-primary;

            &:hover {

                background: rgba($c-primary, 0);
                border: 1px solid $c-black;
                color: $c-black;
            }
        }

        .claim {

            font-size: 12px;
            padding-top: 12px;

            a { text-decoration: underline; }

            @include MQ(M) {

                max-width: 240px;
                padding: 30px 0 0 8px;
            }
        }
    }
}
