// colors

$c-black: #333;
$c-white: #fff;
$c-gray: #ddd;

$c-primary: #F3F637;
$c-primary_dark: #DBDD46;
$c-secondary: #333;


// breakpoints

$S: 480px;
$M: 720px;
$L: 1180px;
$XL: 1440px;


// font

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
$primary-font: 'Raleway', sans-serif;
