// colors

$c-black: #333;
$c-white: #fff;
$c-gray: #ddd;

$c-primary: #F3F637;
$c-secondary: #333;


// breakpoints

$S: 480px;
$M: 720px;
$L: 1024px;
$XL: 1440px;


// font

// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
$primary-font: sans-serif;
