header {

    left: 0;
    padding: 24px;
    position: fixed;
    top: 0;
    z-index: 4;

    @include MQ(M) {

        align-items: center;
        background-color: $c-white;
        display: flex;
        justify-content: space-between;
        padding: 18px 32px;
        right: 0;
    }

    .logo {

        transform-origin: top left;
        transform: scale(0.9);
    }

    .btn {

        display: none;
        @include MQ(M) { display: flex; }
    }
}
