.ngos {

    align-items: center;
    background-image: url(/public/src/img/photoONG.png);
    background-color: $c-yellow;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 360px;
    justify-content: space-between;

    h2,
    p { text-align: center; }
}
