.steps {

    background-color: $c-pearl__light;
    @include MQ(L) { padding: 84px 48px 120px; }

    .wrapper {

        max-width: 1440px;
        width: 100%;
        margin: auto;

        p { max-width: 600px; }

        .grid {

            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 0;
            margin: 0 auto;
            max-width: 1050px;

            @include MQ(L) { grid-template-columns: repeat(3, 1fr); }

            .item {

                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 48px;

                @include MQ(M) { padding-top: 60px; }
                @include MQ(L) { padding-top: 84px; }

                p { padding: 0 }
            }
        }
    }
}
