// fonts

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

$primary-font: 'Nunito', sans-serif;

h1,
.t-h1 {

    font-size: 28px;
    font-weight: 700;
    line-height: 36px;

    @include MQ(M) { font-size: 26px; }
}

h2,
.t-h2 {

    font-size: 26px;
    font-weight: 700;
    line-height: 36px;

    @include MQ(M) { font-size: 24px; }
}

h4,
.t-h4 {

    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

h5,
.t-h5 {

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

p {

    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    padding-top: 24px;
}
