// colors

$c-black: #1A1928;
$c-blue__dark: #145899;
$c-blue__base: #237ED5;
$c-blue__light: #37BEF0;
$c-pearl__base: #EFE6DC;
$c-pearl__light: #F3EFEA;
$c-yellow: #FFCF53;
$c-red__dark: #CE242C;
$c-red__base: #F44B53;
$c-white: #fff;


// breakpoints

$S: 480px;
$M: 720px;
$L: 1024px;
$XL: 1440px;
